<div id="inline1" @if="true">true inline</div>
<div id="inline2" @if="false">false inline</div>
<div id="display1" @if="display1">display1</div>
<div @for="display2Iter" name="display2" @if="display2">display2</div>
<test-injected>
  <div id="display3" @if="display3">
    display3
  </div>
  <div @for="display4Iter" name="display4" @if="display4">
    display4
  </div>
</test-injected>
<test-injected @if="injectShow" hidden>
  <test-empty @if="showEmpty" hidden></test-empty>
</test-injected>

<test-injected @if="injectShow2" hidden2>
  <test-empty @if="showEmpty2" hidden2></test-empty>
</test-injected>

<test-injected @if="injectShow3" hidden3>
  <test-empty @if="showEmpty3" hidden3></test-empty>
</test-injected>
